* {
    background-color: #aca7ca;
}

body {
    padding: 50px;
}

.container {
    width: 40%;
    margin: auto;
}

fieldset {
    text-shadow: -2px -3px 4px;
    border-radius: 10px;
    box-shadow: -0px 7px 4px;
}

input,
textarea {
    display: block;
    width: 65%;
    margin: auto;
    border-width: 0px 0px 2px 0px;
    padding: 10px;
    border-color: #f5edc0;
    color: #ffe4c4;
    margin-top: 20px;
}

textarea {
    margin-bottom: 15px;
    outline: 0px;
}

::placeholder {
    color: #0000ff;
}


input:focus {
    /* border: 0px; */
    outline: 0px;
    border-color: #f35d0d;
}

input:focus::placeholder {
    color: #ff0000;
    font-size: 1.2em;
    /* padding-left: -30px; */
}

.Submit {
    background-color: #977f92;
    color: #f0ffff;
}

.Submit:hover {
    background-color: #008000;

}

.Cancel {
    color: #f0ffff;
    background-color: #977f92;
}

.Cancel:hover {
    background-color: #ff0000;
}

button {
    /* margin: 30px; */
    margin: auto;
    width: 48%;
    height: 25px;
    border-radius: 10px;
}